pkgbase = python-add
	pkgdesc = python packages, Adds to integers, takes two arguments as input.
	pkgver = 1.2
	pkgrel = 1
	url = https://github.com/majorx234/python-add
	arch = any
	makedepends = python
	makedepends = python-setuptools
	source = add::git+https://github.com/majorx234/python-add.git
	md5sums = SKIP

pkgname = python-add

